#second {
  display: flex;
  justify-content: space-around;
  /* border: 1px solid red; */
  max-width: 95%;
  margin: auto;
}
#second img {
  width: 107px;
  height: 43px;
  /* border: 1px black; */
}
#btn {
  background-color: red;
  margin: 0%;
}
#second a {
  position: relative;
  text-decoration: none;
  border: 1px lightcoral;
}

#second a:hover::after {
  content: "";
  position: absolute;
  left: 25%;
  right: 25%;
  bottom: 0;
  border: 1px solid black;
}
#third {
  width: 80%;
  margin: auto;
  display: flex;
  height: 70px;
  align-items: center;
  /* border: 1px solid red; */
  margin-top: 10px;
}
#third > button {
  background-color: #65388b;
  color: white;
  height: 42px;
  width: 110px;
  border: none;
  border-radius: 0 8px 8px 0;
}
#third input {
  width: 45%;
  height: 35px;
  border-color: lightblue;
  margin-left: 50px;
}
.logo > img {
  border-radius: 18px;
}
.sr {
  display: flex;
  justify-content: space-between;
  width: 20%;
  align-items: center;
  height: 10%;
}
.sr > div > a > img {
  height: 30px;
  align-items: center;
}
.sr > div {
  margin-left: 20px;
  text-align: center;
}
.logo > img {
  width: 80%;
  max-height: 70px;
}
.cl {
  display: flex;
  text-align: center;
}

#flowers {
  display: flex;
  max-width: 95%;
  margin: auto;
  justify-content: space-around;
  text-align: center;
}
#image1 {
  width: 100%;

  padding-top: 3%;
  padding-bottom: 3%;
  margin: auto;
  padding-left: 1.5%;
}
#image1 > img {
  padding-right: 2%;
  margin-right: 2%;
}

#flowers1 {
  /* border: 1px solid red; */
  display: flex;
  text-align: center;
  justify-content: space-between;
  width: 95%;
  margin: auto;
}
#flowers1 > div {
  width: 95%;
}
#flowers1 > div > a > img {
  height: 60%;
  width: 80%;
}
.cc {
  display: flex;
  width: 70%;
  margin: auto;
}
.cc > div > img {
  padding-left: 10px;
}
.trending {
  display: flex;
  /* border: 1px solid red; */
  margin: auto;
  display: block;
  display: flex;
  text-align: center;
  display: block;
  display: flex;
}

.trending img {
  display: inline-block;
  height: auto;
  max-width: 80%;
}
.g {
  padding: 65px;
  margin: auto;
}
.new {
  display: flex;
  width: 80%;
  justify-content: space-between;
  padding-left: 3%;
}
.new > div > img {
  height: 60%;
}
.cc {
  padding-left: 0%;
  padding-right: 13%;
}
.customer {
  background-color: #f5f5f5;
  display: flex;
  width: 95%;
  margin: auto;
  padding-bottom: 5%;
  /* border: 1px solid red; */
  max-width: 85%;
  justify-content: space-between;
  text-align: center;
  height: 150px;
}
.customer > div > img {
  height: 90%;
}
/* .customer > div > p:nth-child() {
  font-weight: bold;
} */
.footer {
  padding: 40px;
  color: green;
  background-color: #65388b;
  margin-top: 8%;
  display: flex;
}
.footer > div {
  padding-left: 8%;
}
